@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots');
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background: #BCAAA4;
}
img{
	width: 100%;
}
@media screen and (max-width: 768px) {
	.coffee {
		display: none;
	}
	#stain {
		display: none;
	}
}
#app-container {
	margin: 30px auto;
	color: #222;
	line-height: 1.6;
	text-align: center;
	// max-width: 1000px;
	#stain {
		max-width: 500px;
		position: absolute;
		top: 0px;
		right: 0;
	}
	.jumbotron {
		background: #BCAAA4;
		.breadcrumb {
			background: #BCAAA4;
		}
	}
	img{
		width: 50%;
	}
	h1 {
	 color: #ff5252;
	 font-size: 70px;
	}
	h2 {
		font-family: 'Raleway Dots', 'Palatino', cursive;
	}
	h3 {
	 color: #3E2723;
	}
	a {
		color: #80DEEA;
		text-decoration: none;
		font-size: 22px;
	}
	.info-details {
		padding: 20px;
	}
	.fa {
	 color: #ff5252;
	}

}

#submit-form, #auth-form{
	font-family: 'Raleway', sans-serif;
	background: #BCAAA4;
}
